
  <div class="video-background">
      <div class="video-foreground">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RT1OTBylOOA?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=RT1OTBylOOA" frameborder="0" allowfullscreen></iframe>

      </div>
    </div>


<div class="center jumbotron">

  <!-- <div class="vid-info"> -->
      <div class="container">
     <h1> Welcome To Insta_pho_gram </h1>

         <% if current_user %>
      <%= link_to 'Log out', session_path(current_user),method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-primary" %>
          <%= link_to "Posts",posts_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Edit User",edit_user_path(current_user), class: "btn btn-lg btn-primary" %>

         <%else %>
         <%= link_to "Sign up now!" , signup_path, class: "btn btn-lg btn-primary"%>
          <%= link_to "Sign in", login_path, class: "btn btn-lg btn-primary" %>
         <% end %>
         </div>
</div>
<footer class="footer">
<small>
 <a href="https://github.com/rathi2016/Insta_photo_gram">Ruby on Rails Project</a>
by Rathi Nair-Das
</small>
</footer>
