<h1>Update your profile</h1>
<div class="form-inputs">
<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages' %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

  <%= f.submit "Edit my account", class: "btn btn-primary"%>

<% end %>
